<form action="<%= songs_url %>" method="post" role="form">
	<input type="hidden" name="authenticity_token"
											 value="<%= form_authenticity_token %>">
	
  <div class="form-group">
		<label for="song_title">Title</label>
		<input class="form-control" type="text" id="song_title" name="song[title]" value="<%= song.title %>">
  </div>
  <div class="form-group">
		<label for="song_artist">Artist</label>
		<input class="form-control" type="text" id="song_artist" 						                   name="song[artist]"value="<%= song.artist %>">
  </div>
  <div class="form-group">
		<label for="song_album">Album</label>
		<input class="form-control" type="text" id="song_album" name="song[album_title]" value="<%= song.album_title %>">
  </div>
	<div class="form-group">
		<label for="song_lyrics">Lyrics</label>
		<textarea class="form-control" cols="100" rows="10" id="song_lyrics_form" name="song[body]"></textarea>
	</div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>


<script>
$(document).ready( function() { 

	CKEDITOR.replace($('#song_lyrics_form').get(0), {"height":300,"stylesSet":[],"extraPlugins":"stylesheetparser,richfile,MediaEmbed,smiley","removePlugins":"scayt,menubutton,image,forms,elementspath,magicline","contentsCss":"/assets/rich/editor.css","removeDialogTabs":"link:advanced;link:target","startupOutlineBlocks":false,"forcePasteAsPlainText":true,"format_tags":"h3;p;pre","toolbar": [],"language":"en","richBrowserUrl":"/rich/files/","uiColor":"#f4f4f4","allowed_styles":["thumb","rich_thumb","original"],"default_style":"thumb","insert_many":false,"allow_document_uploads":false,"allow_embeds":false,"placeholder_image":"data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==","preview_size":"100px","hidden_input":false});

	CKEDITOR.instances.song_lyrics_form.setData('<%= @song.body.gsub("\n", "").gsub("\r","").html_safe if @song.body != nil %>');
})
</script>