<div id="body-container">
	<nav class="navbar navbar-default navbar-fixed">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="<%= root_url %>">LyricalMiracle</a>
	  </div>
	  <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
				<li><a href= '#' class="invisible">l</a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Songs
									<b class="caret"></b></a>
				<ul class="dropdown-menu">
		      <li>
						<a id="add-song-button" href="<%= new_song_url %>">Add Song</a>
					</li>
		      <li><a href="<%= songs_url %>">All Songs</a></li>
				</ul>
			</li>
			<li><a href= '#' class="invisible">l</a></li>
	    </ul>
			
	    <form class="navbar-form navbar-left search-bar" role="search" action="<%= songs_url %>" method="GET">
	      <div class="form-group">
	        <input id="song-search" name="song[search_query]" type="text" class="form-control" placeholder="Search by title or artist">
	      </div>

	      <button type="submit" class="btn btn-default mag-glass"><span class="glyphicon glyphicon-search"></span></button>
	    </form>
	    <ul id="authentication-bar" class="nav navbar-nav navbar-right">
				<% if current_user %>
	      	<li><a href="#" id="user-email"><%= current_user.email %></a></li>
					<li><a href="#" id="log-out">Log Out</a></li>
					<li><a href="#" class="invisible" id="log-in">Log In</a></li>
				<% else %>
	      	<li><a href="#" class="invisible" id="user-email"></a></li>
					<li><a href="#" class="invisible" id="log-out">Log Out</a></li>
					<li><a href="#" id="log-in">Log In</a></li>
				<% end %>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</nav>