<!DOCTYPE html>
<html>
<head>
  <title>LyricalMiracle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<body>
	
		<%= render "layouts/navbar" %>
	
			<div id="main-container">
		  	<%= yield %>
			</div>

		<%= render "layouts/login" %>

	</body>
</html>

<script>
$(document).ready(function () {
	$('#log-out').click( function () {
		$.ajax({
		  url: "<%= destroy_user_session_url %>",
		  type: "DELETE",
		 	success: function (response) {
				$('#user-email').addClass('invisible');
				$('#log-out').addClass('invisible');
				$('#log-in').removeClass('invisible');
		  }
		});	
	});
	
	$('#log-in').click(function () {
		$('#login-modal-body')
					.find("input[type=text], input[type=password]").val("");
		$('#login-errors').html('');
		$('#login-modal').modal('show');	
	});
	
	$('#login-form').on('submit', function (event) {
		event.preventDefault();
		
		var userInfo = $('#login-form').serializeJSON().user;
		var data = {remote: true, user: userInfo};
		$.ajax({
			url: '<%= user_session_url %>.json', 
			type: "POST",
			data: data, 
			success: function (resp) {
				$('#login-modal').modal('hide');
				$('#user-email').removeClass('invisible').html($('#user_email').val());
				$('#log-in').addClass('invisible');
				$('#log-out').removeClass('invisible');
				$('#login-modal-body')
							.find("input[type=text], input[type=password]").val("");
				$('#login-errors').html('');
			},
			error: function (resp) {
				$('#login-errors').html('<div class="alert alert-warning 						alert-dismissable">' + resp.responseJSON.errors + '</div>')
			}	
		});
	});
	
	$('#signup-form').on('submit', function (event) {
		event.preventDefault();
		
		var userInfo = $('#signup-form').serializeJSON().user;
		var data = {remote: true, user: userInfo};
		$.ajax({
			url: "<%= user_registration_url %>.json", 
			type: "POST",
			data: data, 
			success: function (resp) {
				$('#login-modal').modal('hide');
				$('#user-email').removeClass('invisible').html($('#sign_user_email').val());
				$('#log-in').addClass('invisible');
				$('#log-out').removeClass('invisible');
				$('#login-modal-body')
							.find("input[type=text], input[type=password]").val("");
				$('#login-errors').html(' ');
			},
			error: function (resp) {
						$('#login-errors').html('<div class="alert alert-warning 						alert-dismissable">' + resp.responseJSON.errors + '</div>')
			}	
		});
	});
	
	$('#google-sign-in').click(function (event) {
		$(this).append('<div class="progress progress-striped active"><div class="progress-bar"  id ="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div></div>');
	})
});
</script>