<!DOCTYPE html>
<html>
<head>
  <title>LyricalMiracle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="body-container">
		<nav class="navbar navbar-default navbar-fixed">
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="<%= root_url %>">LyricalMiracle</a>
		  </div>
		  <div class="collapse navbar-collapse">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="<%= new_song_url %>">Add Song</a></li>
		      <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse<b class="caret"></b></a>
		        <ul class="dropdown-menu pull-left">
		          <li><a href="<%= songs_url %>">Songs</a></li>
		          <li><a href="#">Artists</a></li>
		        </ul>
		      </li>
		    </ul>
		    <form class="navbar-form navbar-left" role="search">
		      <div class="form-group">
		        <input type="text" class="form-control" placeholder="Search by song title or artist">
		      </div>
		      <button type="submit" class="btn btn-default">Submit</button>
		    </form>
		    <ul id="authentication-bar" class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
		      	<li><a href="#" id="user-email"><%= current_user.email %></a></li>
						<li><a href="#" id="log-out">Log Out</a></li>
						<li class="invisible"><a href="#" class="invisible" id="log-in">Log In</a></li>
					<% else %>
		      	<li><a href="#" class="invisible" id="user-email"></a></li>
						<li><a href="#" class="invisible" id="log-out">Log Out</a></li>
						<li><a href="#" id="log-in">Log In</a></li>
					<% end %>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
	
	
		<!-- <p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p> -->
	
		<div id="main-container">
	  	<%= yield %>
		</div>
	</div>
</body>
</html>


<div class="modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header no-line">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
				<ul class="nav nav-tabs">
				  <li class="active">
						<a href="#login-form-content" data-toggle="tab">Log In</a>
					</li>
				  <li><a href="#sign-up-form-content" data-toggle="tab">Sign up!</a></li>
				</ul>
       
			  <div id="login-modal-body" class="modal-body">
       
				<div class="tab-content">
				  <div class="tab-pane active" id="login-form-content">
						<form role="form" id="login-form">
							<div class="form-group">
								<label for="user_email">Email</label>
								<input class="form-control" type="text" name="user[email]" id="user_email" placeholder="email">
							</div>
							<div class="form-group">
								<label for="user_password">Password</label>
								<input class="form-control" type="password" id="user_password" name="user[password]" placeholder="password">
							</div>
			        <div class="modal-footer">
			          <button type="submit" class="btn btn-primary">Submit</button>
			        </div>
						</form>
					</div>
				  <div class="tab-pane" id="sign-up-form-content">
						<form id="signup-form">
			        <div class="modal-footer">
			          <button type="submit" class="btn btn-primary">Submit</button>
			        </div>
						</form>
					</div>
				</div>
			</div>
	
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->







<script>
$(document).ready(function () {
	var authToken = "<%= form_authenticity_token %>";
	$('#log-out').click( function () {
		$.ajax({
		  url: "<%= destroy_user_session_url %>",
			data: { authenticity_token: '<%= form_authenticity_token %>' },
			// beforeSend: function(xhr) {
	// 			xhr.setRequestHeader('X-CSRF-Token', 						$('meta[name="csrf-token"]').attr('content'))
	// 		},
		  type: "DELETE",
		 	success: function (response) {
				console.log("i am in the delete");
				$('#user-email').addClass('invisible');
				$('#log-out').addClass('invisible');
				$('#log-in').removeClass('invisible');
		  }
		});	
	});
	$('#log-in').click(function () {
		$('#login-modal').modal('show');	
	});
	
	$('#login-form').on('submit', function (event) {
		event.preventDefault();
		
		var userInfo = $('#login-form').serializeJSON().user;
		var data = {remote: true, authenticity_token: authToken, user: userInfo};
		$.post('<%= user_session_url %>.json', data, function (resp) {
			if(resp.success) {
				$('#login-modal').modal('hide');
				$('#user-email').removeClass('invisible').html($('#user_email').val());
				$('#log-in').addClass('invisible');
				$('#log-out').removeClass('invisible');
				$('#login-modal-body')
							.find("input[type=text], input[type=password]").val("");
				
			} else {
				console.log("failed authentication");
			}	
		});
	});
});
</script>